@import "@/styles/breakpoints";

.boardView {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  @include mq(sm) {
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
  }

  @include mq(mdLg) {
    grid-template-columns: repeat(3, 1fr);
  }
}
