@import "@/styles/breakpoints";
@import "@/styles";

.dashboard {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: transparent;
  color: var(--color);
}

.flexContainer {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 40px;
  flex-direction: column;
  @include mq(lgXl) {
    flex-direction: row;
  }
}
