@import "@/styles/variables";
@import "@/styles/breakpoints";
@import "@/styles/mixins";

.listView {
  margin-top: 13px;
  border-radius: 10px;
  overflow-y: visible;

  @include mq(mdLg) {
    overflow-x: clip;
  }

  &.notEmpty {
    @include shadow;
    background-color: var(--blockColor);
  }
}
