@import "@/styles/variables";
@import "@/styles/breakpoints";

.table {
  width: 100%;
  text-align: left;
}

.thead {
  display: block;
  top: 1px;
  transform: translateY(-1px);
  left: 0;
  z-index: 1;
}

.tbody {
  display: block;
  position: relative;
}

.thead .tr {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid $text-secondary;
  text-transform: capitalize;
  width: 100%;
  @include mq(md) {
    min-width: max(930px, 100%);
  }
}

.th,
.td {
  &:first-of-type {
    min-width: 25%;
    text-align: left;
  }
  min-width: 15%;
  text-align: center;
}

.th {
  display: flex;

  &:not(:first-of-type) {
    justify-content: center;
    text-align: center;
  }
}

.capitalize {
  text-transform: capitalize;
}
.td {
  display: flex;
  padding: 15px 0px;
  gap: 20px;
  align-items: center;
  text-align: left;
  &:not(:first-of-type) {
    justify-content: center;
  }
  &:last-of-type {
    min-width: auto;
    width: 100%;
    padding-right: 5px;
  }
}
