@import "@/styles/variables";
@import "@/styles/breakpoints";

.developersTableHead {
  position: relative;
  text-transform: capitalize;
  left: 0;
  top: 1px;
  transform: translateY(-2px);
  z-index: 2;
  width: 100%;
  height: 53px;
  @include mq(xsSm) {
    padding-top: 4px;
  }
}

.row {
  display: flex;
  padding: 20px 15px 10px 15px;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  text-align: center;
  & th:not(:first-of-type) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
  }
  & th:first-of-type {
    width: 60%;
    text-align: left;
  }

  border-bottom: 1px solid $text-secondary;
}

.heading {
  font-weight: 700;
}
