@import "@/styles/variables";
@import "@/styles/breakpoints";

.tasks {
  background-color: #fff;
  border-radius: 10px;
  width: 100%;
  overflow: auto;
  height: 687px;

  @include mq(lgXl) {
    width: 65%;
  }
}

.head {
  text-transform: capitalize;
  font-weight: 800;
}

.table {
  position: relative;
  width: 768px;

  @include mq(smMd) {
    width: 100%;
  }
}

.row {
  padding: 10px 15px;
  display: flex;
  gap: 20px;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease;
  align-items: center;

  &:not(:last-child) {
    border-bottom: 1px solid $text-secondary;
  }

  &:hover {
    background: $text-secondary;
  }

  & th,
  td {
    flex-grow: 1;
    font-size: 16px;
  }
}

.userInfo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  display: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 1;

  &.top {
    transform: translate(-50%, -102%);
    top: 0;
  }

  &.bottom {
    transform: translate(-50%, 102%);
    bottom: 0;
  }
}

.avatar {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  padding: 5px;
  color: #fff;
  font-size: 14px;
  width: 32px;
  height: 32px;
  overflow: visible;

  &:hover .userInfo {
    display: block;
    -webkit-animation: fadeIn 0.3s forwards;
    animation: fadeIn 0.3s forwards;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
