@import "@/styles/breakpoints";
@import "@/styles/mixins";

.popup {
  z-index: 22222222;
  background-color: var(--blockColor);
  border-radius: 5px;
  display: flex;
  min-width: 200px;
  flex-direction: column;
  align-items: flex-start;
  @include shadow;
  position: fixed;
  bottom: -2px;
  left: 0;
  right: 0;

  -webkit-animation: popupMobileAnimation 0.2s ease-out forwards;
  animation: popupMobileAnimation 0.2s ease-out forwards;

  @include mq(sm) {
    transform: translateY(0);
    position: absolute;
    right: 0;
    left: unset;
    bottom: -5px;
    min-width: 230px;
    -webkit-animation: popupOpenAnimation 0.2s ease-out forwards;
    animation: popupOpenAnimation 0.2s ease-out forwards;
  }
}

.desktopStyle {
  transform: translateY(0);
  position: absolute;
  bottom: -5px;
  left: unset;
  min-width: 230px;
  -webkit-animation: popupOpenAnimation 0.2s ease-out forwards;
  animation: popupOpenAnimation 0.2s ease-out forwards;
  &Closing {
    -webkit-animation: popupCloseAnimation 0.2s ease-out forwards;
    animation: popupCloseAnimation 0.2s ease-out forwards;
  }
}

.closing {
  -webkit-animation: popupMobileCloseAnimation 0.2s ease-out forwards;
  animation: popupMobileCloseAnimation 0.2s ease-out forwards;

  @include mq(sm) {
    -webkit-animation: popupCloseAnimation 0.2s ease-out forwards;
    animation: popupCloseAnimation 0.2s ease-out forwards;
  }
}

@-webkit-keyframes popupOpenAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(100%) scale(1);
  }
}

@keyframes popupOpenAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
  100% {
    opacity: 1;
    transform: translateY(100%) scale(1);
  }
}

@-webkit-keyframes popupCloseAnimation {
  0% {
    opacity: 1;
    transform: translateY(100%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
}

@keyframes popupCloseAnimation {
  0% {
    opacity: 1;
    transform: translateY(100%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateY(100%) scale(0.8);
  }
}

@-webkit-keyframes popupMobileAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes popupMobileAnimation {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes popupMobileCloseAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes popupMobileCloseAnimation {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
