@import "@/styles/variables";
@import "@/styles/breakpoints";

.loginContent {
  display: flex;
  align-items: center;
  margin-top: -10px;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-top: 25px;
  position: relative;
  flex-direction: row;
  transition: all 0.3s ease;

  @include mq(mdXl) {
    margin-top: 0;
    min-height: 100vh;
  }

  &.moveLeft {
    .leftSide {
      transform: translateY(107%);
      @include mq(sm) {
        transform: translateX(107%);
      }
    }
    .loginFormContainer {
      transform: translateY(-107%);
      @include mq(sm) {
        transform: translateX(-107%);
      }
    }
  }
}

.slogan {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: var(--color);
  border-radius: 12px;
  padding: 4px 10px;
  font-size: 14px;
  border: 1px solid $text-secondary;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  transition: transform 0.6s ease;
}

.loginFormContainer {
  position: relative;
  z-index: 2;
  transition: transform 0.6s ease;
  width: 100%;

  @include mq(sm) {
    width: auto;
  }
}

.title {
  color: $primary-main;
  text-align: center;
  font-weight: 900;
  max-width: 500px;
  font-size: 35px;

  @include mq(sm) {
    font-size: 40px;
  }
  @include mq(mdXl) {
    font-size: 55px;
  }
}
