@import "@/styles/breakpoints";
@import "@/styles/variables";

.activitiesWrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  @include mq(sm) {
    flex-direction: row;
    gap: 25px;
  }
}

.title {
  font-size: 18px;
  font-weight: 500;
}
.activities {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.left {
  flex: 0 0 55%;
}

.right {
  border-top: 1px solid $text-secondary;
  padding-top: 10px;
  width: 100%;

  @include mq(sm) {
    padding-top: 0;
    border-top: none;
  }
}
