$breakpoints: (
  xs: 400px,
  xsSm: 520px,
  sm: 640px,
  smMd: 768px,
  md: 900px,
  mdXl: 935px,
  lg: 1300px,
  lgXl: 1405px,
  xl: 1686px,
);

@function breakpoint($name) {
  @return map-get($breakpoints, $name);
}

@mixin mq($name) {
  @media (min-width: breakpoint($name)) {
    @content;
  }
}
