$primary-main: #2744e5;
$primary-main-hover: #1a2d9a;
$primary-main-light: #405aeb;

$secondary-main: #ff4081;

$background-default: #e5e5e5;

$gray-hover: #e4e4e4;
$text-gray: #525252;
$text-primary: #6a6a6a;
$text-secondary: #cccaca;

$error-main: #f44336;

$success-main: #4caf50;
