$primary-main: #2744e5;
$primary-main-hover: #1a2d9a;
$primary-main-light: #405aeb;

$secondary-main: #ff4081;

$background-default: #ededed;

$gray-hover: #e4e4e4;
$text-gray: #525252;
$text-light-gray: #828282;
$text-primary: #000000;
$text-secondary: #cccaca;

$error-main: #f44336;
$error-main-hover: #cd372c;

$success-main: #4caf50;
