$primary-main: #2744e5;
$primary-main-hover: #1a2d9a;

$secondary-main: #ff4081;

$background-default: #f5f5f5;

$text-primary: #6a6a6a;
$text-secondary: #cccaca;

$error-main: #f44336;

$success-main: #4caf50;
