@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900;1000&display=swap");
@import "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

body {
  min-height: 100vh;
  background: $background-default;
}
a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  border: none;
}

ol,
ul {
  list-style-type: none;
}

