@import "@/styles/variables";
@import "@/styles/breakpoints";
@import "@/styles/mixins";

.listView {
  margin-top: 13px;
  overflow: auto;
  border-radius: 10px;
  &.notEmpty {
    @include shadow;
    background-color: var(--blockColor);
  }

  @include mq(md) {
    max-width: max(930px, 100%);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.trashActions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.trashAction {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
  padding: 3px 7px;

  @include mq(sm) {
    padding: 5px 10px;
  }
  &:hover {
    background-color: var(--blockHover);
  }
}
.actionIcon {
  font-size: 28px;
  cursor: pointer;
}

.actionText {
  font-size: 14px;
  @include mq(sm) {
    font-size: 16px;
  }
  font-weight: 500;
}

.deleteIcon {
  color: $error-main;
  &:hover {
    color: $error-main-hover;
  }
}
