@import "@/styles/breakpoints";
@import "@/styles/variables";

.title {
  font-size: 18px;
  text-transform: uppercase;
}

.assetsBlock {
  margin-top: 25px;
}

.assets {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  position: relative;
}
.assetsCenter {
  justify-content: center;
  @include mq(xs) {
    justify-content: unset;
  }
}
.noAssetsText {
  text-align: left;
}
.asset {
  flex: 0 1 50%;
  height: 240px;
  width: max(250px, 100%);

  transition: all 0.3s ease;
  cursor: pointer;
  &:hover {
    scale: 1.02;
  }
}

.supportLinksBlock,
.linksBlock {
  margin-top: 20px;
}

.loader {
  margin-top: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.link {
  color: $primary-main;
  &:hover {
    text-decoration: underline;
  }
}
