@import "@/styles/variables";
@import "@/styles/breakpoints";

.tr {
  position: relative;
  font-weight: 400;
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0 15px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  background-color: var(--blockColor);

  @include mq(mdLg) {
    // min-width: max(1542px, 100%);
    justify-content: unset;
  }

  &:hover {
    background: var(--blockHover);
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $text-secondary;
  }
}

.td {
  &:first-of-type {
    min-width: 35%;
    text-align: left;
  }

  min-width: 14%;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
.td {
  display: flex;
  padding: 15px 0px;
  gap: 20px;
  height: 100%;
  align-items: center;
  text-align: left;
  &:not(:first-of-type) {
    justify-content: center;
  }
  &:last-of-type {
    justify-content: flex-end;
    min-width: auto;
    width: 100%;
    padding-right: 5px;
  }
}
.tableTitle {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  transition: all 0.3s ease;

  &:hover > h1 {
    color: var(--colorHover);
  }
}
.circle {
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.priority {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;

  & span {
    display: flex;
    justify-content: center;

    align-items: center;
  }
}

.createdAt {
  display: none;
  @include mq(xl) {
    display: flex;
    align-items: center;
  }
}
.daysAgo {
  color: var(--color);
}

.details {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 14px;
  color: var(--gray);
  align-items: center;
}

.commentary,
.assets,
.subtasks {
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s ease;

  &:hover {
    color: var(--colorHover);
  }
  & span {
    margin-top: 2px;
  }
}

.subtasksWrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 65px;
  overflow: auto;
}
.commentary {
  gap: 4px;
}
.subtasks {
  gap: 5px;
}
.assets {
  gap: 1px;
}

.team {
  padding: 0;
}

.actions {
  margin-left: -10px;
  display: flex;
  gap: 20px;
}

.editBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  color: $primary-main-light;
  &:hover {
    color: var(--colorHover);
  }
  font-weight: 500;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.deleteBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  color: $error-main;
  &:hover {
    color: $error-main-hover;
  }
  font-weight: 500;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
