@import "../../styles/variables";
@import "../../styles/breakpoints";

.loginForm {
  width: 100%;
  margin-bottom: 20px;
  @include mq(xs) {
    width: auto;
    width: 370px;
  }
  &Content {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
}

.hello {
  color: $primary-main;
  font-size: 28px;
  font-weight: 800;
}

.slogan {
  font-size: 14px;
  margin-top: 2px;
  color: var(--color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  & label {
    margin-top: 10px;
  }
  & input {
    margin-top: 5px;
  }
}

.forgotPassword {
  margin-top: 10px;
  cursor: pointer;
  color: var(--color);
  background: none;
  display: inline-block;
  align-self: flex-start;
  &:focus {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}

.error {
  margin-top: 3px;
  color: $error-main;
  font-size: 14px;
}

.button {
  margin-top: 20px;
}
