@import "@/styles/variables";
@import "@/styles/breakpoints";

.table {
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

.thead {
  display: block;
  top: 1px;
  transform: translateY(-1px);
  background-color: var(--blockColor);
  left: 0;
  z-index: 1;
}

.tbody {
  display: block;
  position: relative;
}

.thead .tr {
  padding: 15px;
  display: flex;
  gap: 10px;
  border-bottom: 1px solid var(--blockHover);
  text-transform: capitalize;

  @include mq(md) {
    min-width: max(930px, 100%);
  }
}

.tbody .tr {
  position: relative;
  font-weight: 400;
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0 10px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;

  @include mq(md) {
    justify-content: unset;
    min-width: max(930px, 100%);
  }
  &:hover {
    background-color: var(--blockHover);
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--blockHover);
  }
}

.th,
.td {
  @include mq(sm) {
    &:first-of-type {
      min-width: 35%;
      text-align: left;
    }

    min-width: 15%;
    text-align: center;
  }
}

.th {
  display: flex;

  &:not(:first-of-type) {
    justify-content: center;
    text-align: center;
  }
}

.capitalize {
  text-transform: capitalize;
}

.td {
  display: flex;
  padding: 15px 0px;
  gap: 20px;
  align-items: center;
  text-align: left;
  &:not(:first-of-type) {
    text-transform: capitalize;
    justify-content: center;
  }
  @include mq(sm) {
    &:last-of-type {
      min-width: auto;
      width: 100%;
      padding-right: 5px;
    }
  }
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.titleWrapper {
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover > h1 {
    color: var(--colorHover);
  }
}

.avatar {
  position: relative;
  border-radius: 50%;
  color: var(--color);
  font-size: 16px;
  min-width: 38px;
  min-height: 38px;
  overflow: visible;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info {
  right: 0;
  top: 0;
  transform: translate(100%, -35%);
}

.status {
  text-align: center;
  color: var(--color);
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 10px;
  justify-content: flex-end !important;
}

.deleteBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  color: $error-main;
  &:hover {
    color: $error-main-hover;
  }
  font-weight: 500;
}

.actionIcon {
  font-size: 28px;
  cursor: pointer;
}

.restore {
  color: var(--gray);
  padding: 5px;
  border-radius: 50%;
  font-size: 35px;
  transition: all 0.3s ease;
  &:hover {
    background-color: $text-secondary;
  }
}

.delete {
  padding: 5px;
  border-radius: 50%;
  font-size: 35px;
  color: $error-main;
  transition: all 0.3s ease;
  &:hover {
    background-color: $text-secondary;
  }
}
