@import "@/styles/variables";

.userInfo {
  position: relative;
  width: 250px;
  cursor: auto;
  background-color: var(--blockColor);
  color: #000;
  z-index: 10000000;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.avatarImg {
  position: absolute;
  left: -6px;
  top: 0;
  width: 44px;
  height: 44px;
  cursor: pointer;

  & img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
  }
}
.content {
  padding: 15px;
  display: flex;
  gap: 15px;
}

.avatar {
  position: relative;
  border-radius: 25px;
  padding: 5px;
  color: #fff;
  font-size: 16px;
  min-width: 32px;
  height: 64px;
}

.initials {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.userInfoText {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.name {
  font-size: 20px;
  color: var(--color);
  font-weight: bold;
}

.role {
  font-size: 16px;
  color: $text-light-gray;
  font-weight: 400;
}

.email {
  color: var(--colorHover);
  word-break: break-all;
  font-size: 14px;
}
