@import "@/styles/variables";
@import "@/styles/breakpoints";
@import "@/styles/";

.developers {
  background-color: var(--blockColor);
  border-radius: 10px;
  flex-grow: 1;
  max-height: 725px;
  @include mq(md) {
    overflow: auto;
  }
}

.table {
  position: relative;
  width: 100%;
  height: 100%;
}
