@import "@/styles/variables";
@import "@/styles/breakpoints";

.table {
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

.tr {
  position: relative;
  font-weight: 400;
  display: flex;
  width: 100%;
  transition: all 0.3s ease;
  padding: 0 10px;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  &:hover {
    background-color: var(--blockHover);
  }
  @include mq(md) {
    justify-content: unset;
    min-width: max(930px, 100%);
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid $text-secondary;
  }
}

.td {
  &:first-of-type {
    min-width: 25%;
    text-align: left;
  }
  min-width: 15%;
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}
.td {
  display: flex;
  padding: 15px 0px;
  gap: 20px;
  align-items: center;
  text-align: left;
  &:not(:first-of-type) {
    justify-content: center;
  }
  &:last-of-type {
    min-width: auto;
    width: 100%;
    padding-right: 5px;
  }
}

.title {
  font-weight: 400;
  font-size: 16px;
}

.avatar {
  position: relative;
  border-radius: 50%;
  color: #fff;
  font-size: 16px;
  min-width: 38px;
  min-height: 38px;
  overflow: visible;
}

.team {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info {
  right: 0;
  top: 0;
  transform: translate(100%, -35%);
}

.status {
  text-align: center;
  color: var(--color);
  padding: 4px 12px;
  border-radius: 20px;
  font-weight: 700;
}

.actions {
  display: flex;
  gap: 20px;
  justify-content: flex-end !important;
}

.editBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  color: $primary-main-light;
  &:hover {
    color: var(--colorHover);
  }
  font-weight: 500;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.deleteBtn {
  transition: all 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  color: $error-main;
  &:hover {
    color: $error-main-hover;
  }
  font-weight: 500;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.lastUserAvatarInfo {
  top: -20px;
}
