.modal {
  position: relative;
  max-height: 80vh;
  overflow-y: auto;
  background-color: var(--blockColor);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fileInput {
  margin-top: 15px !important;
  display: flex;
  gap: 10px;
  align-items: center;
}
.loader {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba($color: #000, $alpha: 0.8);
  z-index: 1000000;
}
