@import "@/styles/mixins";

.buttons {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}

.cancelButton {
  @include shadow;
  background-color: #e2e2e2;
  color: #000;

  &:hover {
    color: #000;
    background-color: #9f9f9f;
  }
}

.cancelButton,
.submitButton {
  border-radius: 5px;
  font-size: 14px;
  width: 100%;
  &:focus {
    outline: 1px solid #007bff;
    box-shadow: 0 0 0 1px rgba(38, 132, 255, 1);
  }
}
