@import "@/styles/variables";
@import "@/styles/breakpoints";

.tbody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.td {
  display: flex;
  gap: 15px;
  &:not(:first-of-type) {
    width: 15%;

    @include mq(xl) {
      width: 10%;
    }
    flex-grow: 1;
    flex-shrink: 1;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:first-of-type {
    width: 50%;
    @include mq(smMd) {
      width: 60%;
    }
    flex-shrink: 1;
  }
}

.circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.text {
  font-weight: 400;
}
.daysAgo {
  color: $text-primary;
}

.priority {
  display: flex;
  align-items: center;
  gap: 5px;
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.team {
  display: flex;
  padding: 0 25px;
}

.initials {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.createdAt {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  padding: 15px;
  display: flex;
  gap: 20px;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease;
  align-items: center;
  border-bottom: 1px solid $text-secondary;

  &:hover {
    background: $text-secondary;
  }

  & th,
  td {
    flex-grow: 1;
    font-size: 16px;
  }
}
