@import "@/styles/breakpoints";

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  padding: 25px 15px;
  width: 100%;
  z-index: 100;
  background-color: #fff;
}
.burger {
  font-size: 27px;
  cursor: pointer;
  display: block;

  @include mq(md) {
    display: none;
  }
}
.leftSide {
  display: flex;
  gap: 15px;
  width: min(450px, 100%);
}

.rigthSide {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mq(md) {
    gap: 15px;
  }
}
