@import "../../styles/variables";

.button {
  cursor: pointer;
  background-color: $primary-main;
  color: #fff;
  transition: all 0.3s linear;
  padding: 10px;
  border-radius: 20px;
  text-transform: capitalize;
  &:focus {
    outline: 1px solid #000;
  }
  &:hover {
    background-color: $primary-main-hover;
  }
}
