@import "@/styles/variables";
@import "@/styles/mixins";

.listView {
  margin-top: 13px;
  max-height: 694px;
  max-width: max(1542px, 100%);
  overflow: auto;
  border-radius: 10px;
  &.notEmpty {
    @include shadow;
    background-color: #fff;
  }
}
