@import "../../styles/variables";
@import "../../styles/breakpoints";

.loginForm {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--blockColor);
  padding: 0 15px;

  @include mq(sm) {
    min-width: 400px;
  }
  &Content {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
  }
}

.hello {
  color: $primary-main;
  font-size: 28px;
  font-weight: 800;
}

.slogan {
  font-size: 14px;
  margin-top: 2px;
  color: var(--color);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  & label {
    margin-top: 10px;
  }
  & input {
    margin-top: 5px;
  }
}

.error {
  margin-top: 3px;
  color: $error-main;
  font-size: 14px;
}

.button {
  margin-top: 20px;
  font-size: 15px;
}

.signInBlock {
  margin-top: 10px;
}
.signIn {
  text-align: left;
  color: var(--colorHover);
  cursor: pointer;
  transition: color 0.3s ease;

  &:focus {
    text-decoration: underline;
  }
  &:hover {
    text-decoration: underline;
  }
}
