@import "@/styles/variables";
@import "@/styles/breakpoints";

.developers {
  background-color: #fff;
  border-radius: 10px;
  flex-grow: 1;
  overflow: auto;
  max-height: 687px;
}

.table {
  position: relative;
  width: 520px;
  height: 100%;
  @include mq(xsSm) {
    width: 100%;
  }
}
