@import "@/styles/variables";
@import "@/styles/breakpoints";

.taskDetail {
  display: flex;
  gap: 30px;
  flex-direction: column;
  background-color: var(--blockColor);
  @include mq(mdXl) {
    flex-direction: row;
  }
}

.block {
  flex: 0 0 100%;

  @include mq(mdXl) {
    flex: unset;
    width: 50%;
  }
}
