@import "@/styles/variables";
@import "@/styles/breakpoints";

.avatar {
  position: relative;
}

.button {
  position: relative;
  cursor: pointer;
  border-radius: 50%;
  min-width: 44px;
  min-height: 44px;
  padding: 10px;
  color: #fff;
  font-size: 17px;
  @include mq(sm) {
    font-size: 20px;
  }
}

.avatarImg {
  position: absolute;
  left: 0;
  top: 0;
  width: 44px;
  height: 44px;

  & img {
    width: 100%;
    border-radius: 50%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    background-size: cover;
  }
}
