.label {
  display: block;
  margin-bottom: 8px;
}

.textArea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  height: 80px;
  font-size: 16px;
  resize: vertical;
  &:focus {
    border-color: #007bff;
    box-shadow: 0 0 0 1px rgba(38, 132, 255, 1);
  }
}

.textAreaError {
  border-color: #ff0000;
}

.errorText {
  color: #ff0000;
  font-size: 14px;
  margin-top: 4px;
}
