@import "@/styles/variables";
@import "@/styles/breakpoints";

.table {
  padding-bottom: 10px;
  width: 100%;
  text-align: left;
}

.thead {
  display: block;
  top: 1px;
  transform: translateY(-1px);
  background-color: #fff;
  left: 0;
  z-index: 1;
}

.tbody {
  display: block;
  position: relative;
}

.thead .tr {
  padding: 15px;
  display: flex;
  gap: 10px;
  width: 100%;
  border-bottom: 1px solid $text-secondary;
  @include mq(md) {
    min-width: max(1542px, 100%);
  }
}

.th {
  &:first-of-type {
    min-width: 35%;
    text-align: left;
  }
  min-width: 14%;
  text-align: center;
  display: flex;

  &:not(:first-of-type) {
    justify-content: center;
    text-align: center;
  }
}
